@CHARSET "UTF-8";

/* Default Styles 
--------------------------------------------------------------------*/
* { 
	margin-top: 20px
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	ms-box-sizing:border-box;
	box-sizing:border-box;
}
html {height: 100%;}
body { 
	margin: 0 auto; 
	width:950px ;
	background: transparent;
	padding-top: 50px;
	font: larger sans-serif; 
	/*font-family: Utsaah;*/
	font-family: "Gill Sans MT", "Gill Sans", GillSans, Arial, Helvetica, sans-serif;
	font-stretch: ultra-condensed;
	color: #bcbbbb;
	font-size: 26px;
}

header {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 10px;
}
.imgHeader{
	width: 70%;
	border-bottom: solid 4px #BCBBBB;
}
.nameHeader{
	width: 30%;
	border-bottom: solid 4px #BCBBBB;
}
.image{
	width: 100%
}
.image img{
	width: 100%
}
.featureLine{
	display: -webkit-flex;
    display: flex;
    width: 100%;
}
.img275{
	padding: 5px 10px 5px 0px;
}
.img275 img{
	width: 100%;
}